<!doctype html>
<html class="" lang="de">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Will in Town</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="landing.css" media="all">
</head>

<body>
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered"><a href="#app"><img id="willy" src="images/will.png" alt="Willy"></a>Will in Town</h1>
				<div class="container">
					<hr>
				</div>
				<br>
				<div class="col-lg-6 centered">
					<img id="mobile" class="centered" src="images/mobiles.png" alt="">
				</div>
				<div class="col-lg-6">
					<h2>Ein location-based Game
					<br>des Instituts f&#252;r Medienkultur und Theater</h2>
					<div class="likecontainer">
						<span class="efbelike"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fwillintown&amp;width=180&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=20"></iframe></span>
						<a href="https://plus.google.com/103574970948083841936/" rel="publisher"></a>
						<span class="g-plusone" data-size="medium" data-href="https://plus.google.com/103574970948083841936/"></span>
					</div>
					<!-- ACCORDION -->
					<div class="accordion ac" id="accordion2">
						<div class="accordion-group">
							<div class="accordion-heading">
								<h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#app">
									Die App</a></h4>
							</div>
							<!-- /accordion-heading -->
							<div id="app" class="accordion-body collapse in">
								<div class="accordion-inner">
									<p>Anl&#228;sslich seines Geburtstages ist Shakespeare mitsamt seinem dramatischen Gefolge in der Stadt. Begib dich auf eine digitale Schnitzeljagd durch die K&#246;lner Altstadt und entdecke zusammen mit Puck, Hamlet und Co. die k&#246;lschen Mythen
										und Geheimnisse. T&#252;nnes und Sch&#228;l begleiten dich auf deiner Reise durch Shakespeares Welt inmitten der Rheinmetropole. Die App ist verf&#252;gbar f&#252;r iPhone &#38; iPad (ab iOS 7) und f&#252;r alle Android-Ger&#228;te (ab Version
										4.0.4 - Ice Cream Sandwich).</p>
									<!-- App Store Badges -->
									<div class="centered">
										<div class="badge-container">
											<a class="platform-badge" disabled href="https://itunes.apple.com/us/app/will-in-town/id839225198?l=de&ls=1&mt=8" target="_blank" rel="noopener noreferrer"><img src="images/apple.png" alt="" width="135" height="40"></a>
											<a class="platform-badge" href="https://play.google.com/store/apps/details?id=de.uni_koeln.willintown" target="_blank" rel="noopener noreferrer"><img src="images/google.png" alt="" width="129" height="40"></a>
										</div>
									</div>
									<!-- /badges -->
								</div>
								<!-- /accordion-inner -->
							</div>
							<!-- /collapse -->
						</div>
						<!-- /accordion-group -->
						<br>
						<div class="accordion-group">
							<div class="accordion-heading">
								<h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#town">
										into Town!</a></h4>
							</div>
							<div id="town" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>Starte deine Reise durch die jecke Karnevalshauptstadt, die f&#252;r K&#246;lsch, Unfug und Spa&#223; bekannt ist, am Museum f&#252;r Angewandte Kunst K&#246;ln (MAKK) - dem einzigen Museum seiner Art in Nordrhein-Westfalen. Denn K&#246;ln ist
										auch f&#252;r seine reiche Kulturlandschaft bekannt und jeder Winkel birgt spannende Geschichten! Es gibt viel zu entdecken: Museen, Theater, Skulpturen und Denkm&#228;ler sind nur eine kleine Auswahl, kaum eine Stra&#223;e blieb von Kunst und
										Sagen verschont. &#220;berall wirst du auf kleine R&#228;tsel, Geschichten und in diesem Jahr auch auf die bekannten Figuren aus Shakespeares Werken sto&#223;en. Hilf ihnen, die Gebeine ihres Meisters zu vervollst&#228;ndigen und am Dom - dem
										K&#246;lner Wahrzeichen schlechthin - eine rauschende Geburtstagsparty zu feiern! Und ganz nebenbei verdienst du dir ein paar Kamelle dazu!</p>
								</div>
								<!-- /accordion-inner -->
							</div>
							<!-- /collapse -->
						</div>
						<!-- /accordion-group -->
						<br>

						<div class="accordion-group">
							<div class="accordion-heading">
								<h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#party">
											A Party for Will!</a></h4>
							</div>
							<div id="party" class="accordion-body collapse">
								<div class="accordion-inner">
									<p><a href="http://apartyforwill.com" target="_blank" rel="noopener noreferrer">Im April 1564 erblickte Willy das Licht der Welt und 450 Jahre sp&#228;ter feiert nun ganz K&#246;lle seinen gro&#223;en Geburtstag.</a> Aus diesem Grund pr&#228;sentiert die Theaterwissenschaftliche
										Sammlung der Universit&#228;t zu K&#246;ln in Zusammenarbeit mit dem MAKK die Ausstellung <a href="http://www.museenkoeln.de/museum-fuer-angewandte-kunst/default.asp?kontrast=&amp;schrift=&amp;s=2237" target="_blank" rel="noopener noreferrer"><b>A Party for Will! Eine Reise in das Shakespeare-Universum</b></a>.
										Anl&#228;sslich dieses beeindruckenden Jubil&#228;ums tragen Shakespeares Dramen in K&#246;ln neue Fr&#252;chte. Sie geh&#246;ren zu den am h&#228;ufigsten aufgef&#252;hrten und am meisten filmisch adaptierten B&#252;hnenst&#252;cken weltweit.
										Gleichzeitig liefern Shakespeares philosophische Fragestellungen bis heute immer wieder Diskussionsstoff, so auch Hamlets ber&#252;hmte &#220;berlegung: <b>"To be, or not to be, that is the question!"</b>
									</p>
								</div>
								<!-- /accordion-inner -->
							</div>
							<!-- /collapse -->
						</div>
						<!-- /accordion-group -->
						<br>

						<div class="accordion-group">
							<div class="accordion-heading">
								<h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#partner">
												Kooperationspartner</a></h4>
							</div>
							<div id="partner" class="accordion-body collapse in">
								<div class="accordion-inner">
									<div class="coop">
										<a href="http://www.mekuwi.phil-fak.uni-koeln.de/" target="_blank" rel="noopener noreferrer"><img id="uni" src="images/uzk.png" alt="Uni" ></a>
										<a href="http://tws.phil-fak.uni-koeln.de/" target="_blank" rel="noopener noreferrer"><img id="tws" src="images/tws.png" alt="Theaterwissenschaftliche Sammlung"></a>
										<a href="http://www.museenkoeln.de/makk/" target="_blank" rel="noopener noreferrer"><img id="makk" src="images/makk.png" alt="MAKK"></a>
									</div>
								</div>
								<!-- /accordion-inner -->
							</div>
							<!-- /collapse -->
						</div>
						<!-- /accordion-group -->
						<br>
					</div>
					<!-- Accordion -->
				</div>
			</div>
			<hr>
		</div>
		<!--/ .container -->
	</div>
	<!--/ features -->

	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h6>Kernfeatures</h6>
				<br>
				<div class="col-lg-4">
					<img class="feat" src="images/feat1.png" alt="">
					<h3>Erkunde!</h3>
					<p>Entdecke interaktiv die K&#246;lner Altstadt mittels einer frei erkundbaren Karte.</p>
				</div>
				<div class="col-lg-4">
					<img class="feat" src="images/feat2.png" alt="">
					<h3>R&#228;tsel!</h3>
					<p>L&#246;se knifflige R&#228;tsel und Minigames auf den Spuren William Shakespeares.</p>
				</div>
				<div class="col-lg-4">
					<img class="feat" src="images/feat3.png" alt="">
					<h3>Lerne!</h3>
					<p>Erfahre spielerisch mehr &#252;ber K&#246;ln, Kultur und Geschichte.</p>
				</div>
			</div>
			<hr>
		</div>
		<!--/ .container -->
	</div>
	<!--/ #introwrap -->


	<div id="showcase">
		<div class="container">
			<div class="row">
				<h6 class="centered">Screenshots</h6>
				<br>
				<div class="col-lg-8 col-lg-offset-2">
					<div id="carousel-example-generic" class="carousel slide">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							<li data-target="#carousel-example-generic" data-slide-to="3"></li>
							<li data-target="#carousel-example-generic" data-slide-to="4"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<img id="iphone" src="images/iPhone5.png" alt="iphone">
							</div>
							<div class="item">
								<img id="nexus" src="images/nexus.png" alt="nexus">
							</div>
							<div class="item">
								<img id="ipadair" src="images/ipadair.png" alt="ipadair">
							</div>
							<div class="item">
								<img id="ipad" src="images/ipadmini.png" alt="ipad">
							</div>
							<div class="item">
								<img id="android" src="images/android_tab.png" alt="androidtablet">
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
		<!-- /container -->
	</div>

	<!-- Presse -->
	<!-- <div id="press">
		<div class="container">
			<div class="row centered">
				<div class="accordion ac" id="accordion7">
					<div class="accordion-group">
						<div class="accordion-heading">
							<h3><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#presse">Presse- und Bildmaterial</a></h3>
						</div>
						<div id="presse" class="accordion-body collapse">
							<div>Alle Bildmaterialien stehen zur honorarfreien Benutzung zur Verfügung. Bitte beachten Sie die Nennung von Fotograf / Zeichner.
							</div>
							<% @press_materials.each do |material| %>
								<div class="col-sm-6 col-md-3">
									<div class="thumbnail" id="thmb-cntnr">
										<a href="<%= material.upload.url %>" target="_blank" rel="noopener noreferrer"><img src="<%= material.thumbnail.url %>" alt="<%= material.title %>" class="thumbnail" id="thmb-sg"></a>
										<div class="caption">
											<h5><%= material.title %></h5>
											<p>
												<%= material.description %>
													<br>
													<b>Copyright:</b>
													<%= material.copyright_info %>
											</p>
											<a href="<%= material.upload.url %>" target="_blank" rel="noopener noreferrer" class="btn btn-default"> <span class="glyphicon glyphicon-download"></span> &nbsp; Download</a>
										</div>
									</div>
								</div>
								<% end %>
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div> -->
	<!-- /press -->

	<!-- Team -->
	<div id="team">
		<div class="container">
			<div class="row centered">
				<h3>Unser Team</h3>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<h5>Narration</h5> Nadja Al-Hamwi <br> Carolin Blefgen <br> Laura Guender <br> Helena Hauser <br> Ornella Janai <br> Normann Koprek <br> Constanze Maihoff <br> Pablo Schallenberg <br> Anja Scholl
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<h5>Entwicklung</h5> Johannes Lenz <small>(Android)</small> <br> David Neugebauer <small>(CMS)</small> <br> Marcel Schaeben <small>(iOS)</small> <br> Karen Schwane <small>(Android)</small> <br> Bernhard Strecker <small>(Android)</small> <br> Gerrit Weber <small>(iOS, Webseite)</small>					<br> Fabian Zavodnik <small>(iOS, CMS)</small> <br> &#160;
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<h5>Layout</h5> Federico Alvarez <br> Tobias Baum <br> Hanna Frauenkron <br> Isabel Meyer <br> Irina Schepel <br>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<h5>Koordination</h5> Christoph M&#252;ller-Dechent
				</div>

			</div>
			<hr>
		</div>
		<!--/ .container -->
	</div>
	<!-- /team -->

	<!-- Impressum -->
	<div id="imprint">
		<div class="container">
			<div class="centered">
				<!-- ACCORDION -->
				<div class="accordion ac" id="accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<h2 class="centered"><a class="accordion-toggle js-imprint" data-toggle="collapse" data-parent="#accordion2" href="#imprintmenu">Impressum</a></h2>
						</div>
						<!-- /accordion-heading -->
						<div id="imprintmenu" class="accordion-body collapse">
							<div class="accordion-inner">
								<br>
								<h4>Will in Town</h4> Institut f&#252;r Medienkultur und Theater<br> der Universität zu Köln <br> Meister-Ekkehart-Str. 11<br> 50937 K&#246;ln<br> webmaster &#166;&#230;t&#166; willintown &#8230; de<br>
								<br>
								<h5>Haftung f&#252;r Inhalte</h5>
								<p>Als Diensteanbieter sind wir gem&#228;&#223; &#167; 7 Abs.1 TMG f&#252;r eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, &#252;bermittelte
									oder gespeicherte fremde Informationen zu &#252;berwachen oder nach Umst&#228;nden zu forschen, die auf eine rechtswidrige T&#228;tigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
									Gesetzen bleiben hiervon unber&#252;hrt. Eine diesbez&#252;gliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&#246;glich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte
									umgehend entfernen.</p>
								<h5>Haftung f&#252;r Links</h5>
								<p>Unser Angebot enth&#228;lt Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb k&#246;nnen wir f&#252;r diese fremden Inhalte auch keine Gew&#228;hr &#252;bernehmen. F&#252;r die Inhalte der verlinkten Seiten
									ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf m&#246;gliche Rechtsverst&#246;&#223;e &#252;berpr&#252;ft. Rechtswidrige Inhalte waren zum Zeitpunkt der
									Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
									entfernen.</p>
								<h5>Urheberrecht</h5>
								<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielf&#228;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung au&#223;erhalb der Grenzen des Urheberrechtes
									bed&#252;rfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur f&#252;r den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber
									erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
									Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
								<h5>Datenschutz</h5>
								<p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten m&#246;glich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit m&#246;glich,
									stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&#252;ckliche Zustimmung nicht an Dritte weitergegeben.
									<br> Wir weisen darauf hin, dass die Daten&#252;bertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitsl&#252;cken aufweisen kann. Ein l&#252;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&#246;glich.
									<br> Der Nutzung von im Rahmen der Impressumspflicht ver&#246;ffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdr&#252;cklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdr&#252;cklich widersprochen. Die
									Betreiber der Seiten behalten sich ausdr&#252;cklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
								</p>
								<h5>Datenschutzerkl&#228;rung f&#252;r die Nutzung von Facebook-Plugins (Like-Button)</h5>
								<p>Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook (Facebook Inc., 1601 Willow Road, Menlo Park, California, 94025, USA) integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder dem "Like-Button" ("Gef&#228;llt mir")
									auf unserer Seite. Eine Übersicht &#252;ber die Facebook-Plugins finden Sie hier: <a href="http://developers.facebook.com/docs/plugins/" target="_blank" rel="noopener noreferrer">http://developers.facebook.com/docs/plugins/</a>.
									<br> Wenn Sie unsere Seiten besuchen, wird &#252;ber das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt. Facebook erh&#228;lt dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht
									haben. Wenn Sie den Facebook "Like-Button" anklicken w&#228;hrend Sie in Ihrem Facebook-Account eingeloggt sind, k&#246;nnen Sie die Inhalte unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten Ihrem
									Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der &#252;bermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerkl&#228;rung
									von facebook unter <a href="http://de-de.facebook.com/policy.php" target="_blank" rel="noopener noreferrer"> http://de-de.facebook.com/policy.php</a>
									<br> Wenn Sie nicht w&#252;nschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.</p>
								<h5>Datenschutzerkl&#228;rung f&#252;r die Nutzung von Google +1</h5>
								<p><i>Erfassung und Weitergabe von Informationen:</i> Mithilfe der Google +1-Schaltfl&#228;che k&#246;nnen Sie Informationen weltweit ver&#246;ffentlichen. &#252;ber die Google +1-Schaltfl&#228;che erhalten Sie und andere Nutzer personalisierte Inhalte
									von Google und unseren Partnern. Google speichert sowohl die Information, dass Sie f&#252;r einen Inhalt +1 gegeben haben, als auch Informationen &#252;ber die Seite, die Sie beim Klicken auf +1 angesehen haben. Ihre +1 k&#246;nnen als Hinweise
									zusammen mit Ihrem Profilnamen und Ihrem Foto in Google-Diensten, wie etwa in Suchergebnissen oder in Ihrem Google-Profil, oder an anderen Stellen auf Websites und Anzeigen im Internet eingeblendet werden.
									<br> Google zeichnet Informationen &#252;ber Ihre +1-Aktivit&#228;ten auf, um die Google-Dienste f&#252;r Sie und andere zu verbessern. Um die Google +1-Schaltfl&#228;che verwenden zu k&#246;nnen, ben&#246;tigen Sie ein weltweit sichtbares, &#246;ffentliches
									Google-Profil, das zumindest den f&#252;r das Profil gew&#228;hlten Namen enthalten muss. Dieser Name wird in allen Google-Diensten verwendet. In manchen F&#228;llen kann dieser Name auch einen anderen Namen ersetzen, den Sie beim Teilen von
									Inhalten &#252;ber Ihr Google-Konto verwendet haben. Die Identit&#228;t Ihres Google-Profils kann Nutzern angezeigt werden, die Ihre E-Mail-Adresse kennen oder &#252;ber andere identifizierende Informationen von Ihnen verf&#252;gen.
									<br>
									<i>Verwendung der erfassten Informationen:</i> Neben den oben erl&#228;uterten Verwendungszwecken werden die von Ihnen bereitgestellten Informationen gem&#228;&#223; den geltenden Google-Datenschutzbestimmungen genutzt. Google ver&#246;ffentlicht
									m&#246;glicherweise zusammengefasste Statistiken &#252;ber die +1-Aktivit&#228;ten der Nutzer bzw. gibt diese an Nutzer und Partner weiter, wie etwa Publisher, Inserenten oder verbundene Websites.
								</p>
								<small><i>Quellenangaben: <a rel="nofollow" href="http://www.e-recht24.de/muster-datenschutzerklaerung.html" target="_blank" rel="noopener noreferrer">Datenschutzerkl&#228;rung eRecht24</a></i></small>
							</div>
							<!-- /accordion-inner -->
						</div>
						<!-- /collapse -->
					</div>
					<!-- /accordion-group -->
					<br>
				</div>
				<!-- Accordion -->
			</div>
		</div>
		<!--/ .container -->
	</div>
	<!--/ #features -->

	<div id="heart"><small>Coded with &#9829; in Cologne</small></div>

	<!-- scripts -->

	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- carrousel arrow key navigation -->
	<script type="text/javascript">
		$('.carousel').carousel({
			interval: 3500
		});
		$(document).bind('keyup', function(e) {
			if (e.which === 39) {
				$('.carousel').carousel('next');
			} else if (e.which === 37) {
				$('.carousel').carousel('prev');
			}
		});
	<!-- /key navigation -->

	<!-- google+ -->
		window.___gcfg = {
			lang: 'de'
		};
		(function() {
			var po = document.createElement('script');
			po.type = 'text/javascript';
			po.async = true;
			po.src = 'https://apis.google.com/js/platform.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(po, s);
		})();
	<!-- /google -->

	<!-- scroll for imprint -->
		$('.js-imprint').on('click', function(e) {
			e.preventDefault();
			if ($(this).attr('href') === "#imprintmenu") {
				$('html, body').animate({
					scrollTop: $(this).offset().top
				}, 'slow');
			}
		});
		<!-- /scroll -->


			<!-- prevent click -->
			$('[disabled]').on('click', function(e) {
				e.preventDefault();
			})
	</script>


	<!-- /scripts -->

</body>

</html>
